<?xml version="1.0"?>

<launch>
  <arg name="Encoder0_A"       default="5"/>
  <arg name="Encoder0_B"       default="6"/>
  <arg name="Encoder1_A"       default="27"/>
  <arg name="Encoder1_B"       default="17"/>

  <!-- rusrun gpio_encoder gpio_encoder -->
  <node pkg="gpio_encoder" type="gpio_encoder_node" name="gpio_encoder_node" respawn="true" output="screen">
    <param name="Encoder0_A" type="int" value="$(arg Encoder0_A)" />
    <param name="Encoder0_B" type="int" value="$(arg Encoder0_B)" />
    <param name="Encoder1_A" type="int" value="$(arg Encoder1_A)" />
    <param name="Encoder1_B" type="int" value="$(arg Encoder1_B)" />
  </node>

</launch>

